/*
*
* CSS Reset
*
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
*
* General Rules
*
*/




.navbar-brand {
	font-size: 35px;
}

/*.footerImage {
	height: 100px;
}*/

/*.subscribe {
	display: inline;
}*/


h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
}

.card-header {
	background-color: white;
}

.inputEmail {
	width: 30%;
}

footer {
	background-color: #000;
	letter-spacing: 2px;
}

.nav-item .nav-link {
	color: #fff;
	

}

footer > div > ul > li:nth-child(1),
footer > div > ul > li:nth-child(2),
footer > div > ul > li:nth-child(3),
footer > div > ul > li:nth-child(4) {
	border-right: 1px solid #fff;
}

.photo-nav {
	min-height: 15vh;
	position: relative;
	width: 100vw;

}

.photo-nav img {
	height: 154px;
	width: 100%;
	overflow: hidden;

	
}

.insta {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	z-index: 9;
	text-transform: uppercase;
}








